
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.row {
    background-color: black;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
}
.col-1 {
    background:rgba(255, 255, 255, 0.07);
    margin: 10px;
    border-radius: 10px;
    font-size: 80px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
  